<div class="presentation-content" role="main">
	<h1>Hello OpenViduers!</h1>
	<p class="text">
		Welcome to the website to create a dataset for creating computer vision
		algorithms allowing you to replace your background in any video conference.
	</p>

	<p class="text note">
		<strong
			>Of course, this is an open source tool which you can use by your own and
			it is accessible in our
			<a
				href="https://github.com/OpenVidu/virtual-background-tool"
				target="_blank"
				>GitHub repository</a
			>.</strong
		>
	</p>
	<br />

	<div class="contai2ner">
		<div class="row">
			<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
				<div class="image-container image-one">
					<img src="assets/images/virtual-bg1.jpg" alt="" />
				</div>

				<div class="image-container image-two">
					<img src="assets/images/virtual-bg.jpg" alt="" />
				</div>
			</div>
			<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 info">
				<h2>Virtual Background Feature</h2>
				<p class="text">
					Virtual background is a very useful feature to change the real
					background with a sintetic background without having a green chroma
					background. It improves privacity if you connect from your own house.
					Also allows to provide a branded image for corporate usage.
				</p>
				<br />

				<h2>Machine Learning</h2>
				<p class="text">
					We will request you to record several videos in typical situations
					when you are in a videoconference. These videos will be used to train
					machine learning algorithms so they can be applied in real time when
					other people want to change the background when participating in a
					video conference.
				</p>
				<br />

				<h2>Dataset</h2>
				<p class="text">
					You will have to record several small videos of different positions
					and poses.
				</p>

				<br />

				<h2>Short Experiment</h2>
				<p class="text">You will need only 10 minutes of your valuable time.</p>
				<br />
			</div>
		</div>
	</div>

	<div class="card-container">
		<div class="card" (click)="start()">
			<span>Start</span>
		</div>
	</div>
</div>
