


  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }


.note {
  background-color: rgb(202, 248, 248);
  padding: 15px;
}

  .text {
	font-size: medium;
  }

  .image-container img{
    border: 2px solid;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .image-one {
    top: 0;

  }
  .image-two {
    bottom: 0;

  }

  .presentation-content {
    max-height: calc(100% - 82px);
    margin: 82px auto 32px;
    padding: 0 16px;

  }
  .info {
    text-align: left;

  }

  .card-container {
    margin-top: 0;
  }