:host::ng-deep.mat-checkbox-layout{
	white-space: normal !important;
}

:host::ng-deep.mat-checkbox-inner-container{
margin-top: 4px;
}

.error-message {
	color: red;
}

.mat-radio-button ~ .mat-radio-button {
	margin-left: 16px;
}

.radio-group-label {
	padding-right: 15px;
	font-size: medium;
}

.form-container {
	text-align: start;
	padding: 20px 80px;
}

.consent-form {
	overflow-y: auto;
	max-height: 300px;
	border: 0.5px solid #919191;
	padding: 10px;
	text-align: justify;
}

.card-container {
	margin-top: 0;
}