.stream-container{
	margin: auto;
	text-align: center;
}

.stream-container video {
	max-width: 70%;
}

img {
	max-width: 100%;
	border: 2px solid;
}
.info-container{
	text-align: start;
}

.cancelButton{
	background-color: rgb(182, 45, 45);
	color: #ffffff;

}

.progress-info{
	position: absolute;
	right: 0;
	top: 35%;
	bottom: 0;
}